name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  verify:
    name: "Verify"
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: adopt

      - uses: gradle/gradle-build-action@v3

      - name: Binary Compatibility Validation
        run: ./gradlew apiCheck --scan

      - name: Lint
        run: ./gradlew lint --scan

  test:
    strategy:
      matrix:
        config: [
          { target: "default", os: "ubuntu-latest", tasks: "allTest", continueOnError: false },
          { target: "osx", os: "macos-latest", tasks: "test", continueOnError: false },
          { target: "package", os: "ubuntu-latest", tasks: ":demo:composeApp:packageDistributionForCurrentOS", continueOnError: false }
        ]
    runs-on: ${{ matrix.config.os }}
    name: Test ${{ matrix.config.target }}
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: adopt

      - uses: gradle/gradle-build-action@v3

      - name: Cache Konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-macos-*
          key: ${{ runner.os }}-konan-${{ hashFiles('**/gradle/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Run ${{ matrix.config.target }} tests
        continue-on-error: ${{ matrix.config.continueOnError }}
        run: ./gradlew ${{ matrix.config.tasks }} --scan

#  test-instrumented:
#    strategy:
#      matrix:
#        api-level: [ 24, 29, 31 ]
#    runs-on: macos-latest
#    name: Test API ${{ matrix.api-level }}
#    needs: verify
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: setup-java
#        uses: actions/setup-java@v4
#        with:
#          java-version: 17
#          distribution: adopt
#
#      - uses: gradle/gradle-build-action@v3
#
#      - name: Run tests for API ${{ matrix.api-level }}
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          api-level: ${{ matrix.api-level }}
#          arch: x86_64
#          disable-animations: true
#          force-avd-creation: false
#          ram-size: 4096M
#          emulator-boot-timeout: 12000
#          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
#          script: ./gradlew connectedCheck --scan

  test-browser:
    runs-on: ubuntu-latest
    name: Test JS in browser
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: adopt

      - uses: gradle/gradle-build-action@v3

      - name: Setup headless Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run tests in browser
        run: ./gradlew jsTest --scan

  release:
    if: github.ref == 'refs/heads/main'

    name: Publish library SNAPSHOT
    runs-on: macos-latest
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version
        id: version
        uses: ./.github/actions/calculate-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: adopt

      - uses: gradle/gradle-build-action@v3

      - name: Deploy to Sonatype
        run: |
          export ORG_GRADLE_PROJECT_VERSION_NAME=${{ steps.version.outputs.version }}-SNAPSHOT
          ./gradlew publish --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVENCENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVENCENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
