name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths-ignore:
      - 'art/**'
      - '**.md'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  verify:
    name: "Verify"
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Binary Compatibility Validation
        run: ./gradlew apiCheck --scan

      - name: Lint
        run: ./gradlew spotlessCheck --scan

  test:
    strategy:
      matrix:
        config: [
          { target: "default", os: "ubuntu-latest", tasks: "allTest", continueOnError: false },
          { target: "osx", os: "macos-latest", tasks: "test", continueOnError: false },
        ]
    runs-on: ${{ matrix.config.os }}
    name: Test ${{ matrix.config.target }}
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache Konan
        uses: actions/cache@v5
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-macos-*
          key: ${{ runner.os }}-konan-${{ hashFiles('**/gradle/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Run ${{ matrix.config.target }} tests
        continue-on-error: ${{ matrix.config.continueOnError }}
        run: ./gradlew ${{ matrix.config.tasks }} --scan

  test-instrumented:
    strategy:
      matrix:
        api-level: [ 24, 36 ]
    runs-on: macos-latest
    name: Test API ${{ matrix.api-level }}
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests for API ${{ matrix.api-level }}
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          disable-animations: true
          force-avd-creation: false
          ram-size: 4096M
          emulator-boot-timeout: 12000
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
          script: ./gradlew :androidx-palette:connectedAndroidTest --scan